<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <title>Biblioteca</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row mt-5">
                    <div class="col-6"> 
                        <h1>Lista de produtos</h1>
                    </div>   
                    <div class="col-6 text-right">
                        <a href="/cadastrar" class="btn btn-primary my-3 text-center">Cadastrar produto</a> 
                    </div>
                </div>
                <form action="/pesquisar" method="GET">
                    <div class="input-group">
                        <input class="form-control" type="search" id="pesquisar" name="pesquisar">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" id="btnTeste">Pesquisar</button>
                            <a href="/listar" class="btn btn-primary text-center">Listar</a> 
                        </div>
                    </div>
                </form>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Código: </th>
                            <th>Item: </th>
                            <th>Quantidade: </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(produtos == ""){ %>
                            <tr>
                                <td colspan="5" class="alert-warning">Nenhum produto cadastrado</td>
                            </tr>
                        <% } else{ %>
                            <% produtos.map(produto =>{ %>
                            <tr>
                                <td><%= produto.codigo_produto %></td>
                                <td><%= produto.nome_produto %></td>
                                <td><%= produto.quantidade_produto %></td>
                                <td>
                                    <a href="/atualizar<%= produto.id_produto %>" class="btn btn-sm btn-success">Editar</a>
                                    <a href="/deletar<%= produto.id_produto %>" class="btn btn-sm btn-danger"> Excluir</a>
                                </td>
                            </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>   
    </div>
</body>
</html>
